<ul class="post-list">
  {%- for post in posts_list -%}
  <li>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <span class="post-meta">{{ post.date | date: date_format }}</span>
    <h3>
      <a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
    </h3>
    {%- if site.show_excerpts -%}
      {{ post.excerpt }}
    {%- endif -%}
    <div>
    {% for category in post.categories %}
      <span><a href="{{site.baseurl}}/category/{{category | slugize }}/index.html">{{ category }}</a></span>
    {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
    </div>
    <div class="post-list-buttons">
      <a href="{{ post.url | relative_url }}#disqus_thread" data-disqus-identifier="{{ site.url }}{{ post.url }}">
        {% t Comments %}
      </a>
      <a style="margin-left: 5px;" href="{{ post.url | relative_url }}">{% t ReadMore %}</a>
    </div>
  </li>
  {%- endfor -%}
</ul>
